

.body {
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.document-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.body-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.search-icon {
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}
.search-bar-with-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.results-section {
    border: 2px solid black;
    background-color: whitesmoke;
    margin-top: 2rem;
    max-width: 80%;
}

.result_div {
    width: 80%;
    margin-top: 2rem;
    padding: 1rem;
}

.results-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
   
}

.result-item {
    padding: 0.5rem 1rem;
}

.no-results {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
}

.snippet em {
  font-style: normal;      
  font-weight: bold;       
  color: #e91e63;         
  background-color: #fff2f8; 
  padding: 0 2px;        
}

.document-title {
    margin-top: 2rem;
    text-align: center;
}

