html, body, #root {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;

}







.test1 {
  position : relative,

}

.test2 {
  position : absolute;
  bottom : 0;
  right: 0;
  left: 0;
  width : 100%;
  height : 50px;
  background-color : lightgrey;
}

