

.header {
    background-image: url('../assets/vitesse_route.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}